/* /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Eric Meyer CSS reset https://meyerweb.com/eric/tools/css/reset/ */

/* fonts start */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/* fonts end */

body {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #2b2b2b;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: #2b2b2b;
}

a {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  color: #2b2b2b;
}

a:visited {
  color: #2b2b2b;
}

a:hover {
  scale: 1.1;
}

span {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 24px;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.separator {
  width: auto;
  border: 1px solid #ccc;
  margin: 40px 0;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0;
}

.cta-btn {
  font-size: 22px;
  background: transparent;
  padding: 16px 24px;
  border: 1px solid black;
}

.cta-btn:hover {
  background: #2b2b2b;
  color: #ebebeb;
}

/* Header Start */
.header {
  background: transparent url(../Images/banner.png) no-repeat center center /
    cover;
  height: 700px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .header-secondary {
  display: flex;
  justify-content: space-between;
}

.header .header-secondary .header-secondary-connect ul,
.header .header-secondary .header-secondary-controls ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.header .header-secondary .header-secondary-connect li > a,
.header .header-secondary .header-secondary-controls li > a {
  font-family: 'PlayfairDisplay-Regular', sans-serif;
  font-weight: 500;
}

.header .header-secondary .header-secondary-connect li > a {
  color: #fff;
  font-size: 16px;
}

.header .header-secondary .header-secondary-controls li > a {
  color: #111;
}

.header-secondary .header-secondary-search {
  border: 1px solid #111;
  padding: 4px 6px;
}

.header-secondary .header-secondary-search i {
  font-size: 18px;
}

.header-secondary .header-secondary-search button {
  border: none;
  background-color: transparent;
}

.header-secondary .header-secondary-search input {
  border: transparent;
  font-size: 18px;
  line-height: 20px;
}

/* Menu Start */
.header-primary {
  background: #2b2b2b;
}

.header-primary .header-primary-items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.header-primary .header-primary-items ul > li > a {
  color: #fff;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
}
/* Menu End */

/* Header End */

/* Main Start */

/* home-catalog-preview start */
.home-catalog-preview {
  border-top: 1px solid black;
  margin-top: 40px;
}

.home-catalog-preview-title {
  padding: 40px 0;
}

.home-catalog-preview-tiles ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-catalog-preview-tiles li article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.home-catalog-preview-img a img {
  width: 310px;
  height: 292px;
}

.home-catalog-preview-watch-name {
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 500;
}

.home-catalog-preview-img {
  position: relative;
}

.home-catalog-preview-img .wishlist {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
}

.home-catalog-preview-img i {
  color: #b5b4b4;
}

.home-catalog-preview-img i:hover {
  scale: 1.2;
  color: rgb(0, 0, 0);
}

.home-catalog-preview-img img:hover {
  scale: 1.1;
}
/* home-catalog-preview end */

/* Avertising start */
.advertising {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advertising-image img {
  width: 600px;
  height: 600px;
}

.advertising-title {
  margin-bottom: 40px;
  font-weight: 500;
}

.advertising-text {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advertising-text p {
  font-family: 'Roboto' sans-serif;
  font-weight: 300;
  line-height: 40px;
  text-align: justify;
}
/* Advertisisng end */

/* Main End */

/* Footer Start */
.footer {
  margin-top: 80px;
  background: #ebebeb no-repeat center center / cover;
}

.footer-content {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
}

.footer-support li,
.footer-nav li {
  margin-bottom: 20px;
}

/* Footer Connect Start */
.footer-connect {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.sign-up-newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-connect .sign-up-newsletter input {
  height: 30px;
  padding: 0 5px;
}

.sign-up-btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.footer-connect .footer-connect-social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Footer Connect End */

/* Footer End */
